@charset "ISO-8859-1";

b{
	
	color: red;
	 
}

form{
	  left      : 35%;
    top       : 30%;
    position  : absolute;
    background-color: yellow;	
    padding: 20px;
    font-size: 30px;
     
}
.buttonstyle{
	font-size: 30px;
	background-color: green;
	
}