@charset "ISO-8859-1";

h1 {
  color: brown;
}
.col-sm-4 {
  float: left;
  width: 33.3333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 120px;
}

.trackorder_para {
  text-align: right;
}
